name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: Archive artifacts
      uses: actions/upload-artifact@v1
      with:
        name: Core.Arango.DevExtreme
        path: Core.Arango.DevExtreme/bin/Release
